.DS_Store

.idea/vcs.xml

honglidong/.idea/deviceManager.xml

honglidong/.idea/misc.xml

honglidong/.idea/deploymentTargetSelector.xml

honglidong/.kotlin/sessions/kotlin-compiler-14474226039667077606.salive
